<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cryptomoney">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- NFC permision -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MerchanttransactionActivity" android:label="Available Merchant Money"> </activity>
<!--        <activity android:name=".MerchantMainActivity" />-->
        <activity android:name=".QRNFCRcvActivity" />
        <activity android:name=".ReceiveActivity" android:label="Receive Merchant Money"> </activity>
        <activity android:name=".QRNFCActivity" />
        <activity android:name=".CryptoModeActivity" />
        <activity android:name=".CryptoTransactionActivity" android:label="Available Free Money"> </activity>
        <activity android:name=".CryptoActivity" android:label="Print Money"> </activity>
        <activity android:name=".RSATestActivity" />
        <activity android:name=".QRgeneratorActivity" />
        <activity android:name=".RegisterActivity" android:label="Register"> </activity>
        <activity android:name=".TransactionActivity" />
        <activity android:name=".TransferActivity" />
        <activity android:name=".RequestActivity" android:label="Receive Free Money"> </activity>
<!--        <activity android:name=".RequestMoney" />-->
        <activity android:name=".AccountActivity" android:label="Account Info"> </activity>
        <activity android:name=".SettingActivity" android:label="Settings"> </activity>
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:label="Menu"> </activity>
        <activity android:name=".NFCRWActivity" />

        <service
            android:name="cn.memobird.gtx.task.GtxService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.memobird.app.xg.RadicalService" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>

        <activity android:name="com.google.zxing.activity.CaptureActivity" android:label="QR Scan" > </activity>
    </application>

</manifest>